<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 571}, {384, 568}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {384, 568}}</string>
			<key>sourceSize</key>
			<string>{384, 568}</string>
		</dict>
		<key>assets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 957}, {101, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {101, 63}}</string>
			<key>sourceSize</key>
			<string>{101, 63}</string>
		</dict>
		<key>assets/character1.png</key>
		<dict>
			<key>frame</key>
			<string>{{387, 1}, {182, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {182, 108}}</string>
			<key>sourceSize</key>
			<string>{182, 108}</string>
		</dict>
		<key>assets/character2.png</key>
		<dict>
			<key>frame</key>
			<string>{{755, 1}, {182, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {182, 108}}</string>
			<key>sourceSize</key>
			<string>{182, 108}</string>
		</dict>
		<key>assets/character3.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 1}, {182, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {182, 108}}</string>
			<key>sourceSize</key>
			<string>{182, 108}</string>
		</dict>
		<key>assets/chopstick.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 957}, {105, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {105, 45}}</string>
			<key>sourceSize</key>
			<string>{105, 45}</string>
		</dict>
		<key>assets/life.png</key>
		<dict>
			<key>frame</key>
			<string>{{366, 997}, {136, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {136, 24}}</string>
			<key>sourceSize</key>
			<string>{136, 24}</string>
		</dict>
		<key>assets/life_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{211, 957}, {153, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {153, 41}}</string>
			<key>sourceSize</key>
			<string>{153, 41}</string>
		</dict>
		<key>assets/mat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {384, 568}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {384, 568}}</string>
			<key>sourceSize</key>
			<string>{384, 568}</string>
		</dict>
		<key>assets/roll.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 111}, {105, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {105, 122}}</string>
			<key>sourceSize</key>
			<string>{105, 122}</string>
		</dict>
		<key>assets/tap_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{462, 957}, {94, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 38}}</string>
			<key>sourceSize</key>
			<string>{94, 38}</string>
		</dict>
		<key>assets/tap_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{366, 957}, {94, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 38}}</string>
			<key>sourceSize</key>
			<string>{94, 38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>assets.png</string>
	</dict>
</dict>
</plist>
